[Unit]
Description=Gunicorn Daemon for FastAPI
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/home/stan/BOTS/jobbit_api_bot
ExecStart=/home/stan/BOTS/jobbit_api_bot/venv/bin/gunicorn -c gunicorn_conf.py fast_api:app

[Install]
WantedBy=multi-user.target