[Unit]
Description=Gunicorn Daemon for FastAPI
After=network.target

[Service]
User=demo
Group=www-data
WorkingDirectory=/home/jobitt/bot_1/jobitt_bot
ExecStart=/home/demo/fastapi_demo/venv/bin/gunicorn -c gunicorn_conf.py my_fast_api:app

[Install]
WantedBy=multi-user.target