[Unit]
Description=telegram bot jobitt_bot
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/stan/BOTS/jobbit_api_bot
ExecStart=/home/stan/BOTS/jobbit_api_bot/venv/bin/python3 /home/stan/BOTS/jobbit_api_bot/jobbit_bot.py
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target

